<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2>Your Order</h2>

  <div><%= link_to "Edit your order", @order %></div>

  <div>
    <table>
      <tr>
        <th></th>
        <th>Item</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Subtotal</th>
      </tr>
       <% @order.order_items.each do |item| %>
        <tr>
          <td><%= image_tag "products/#{item.product.image_url}" %></td>
          <td><%= item.product.title %></td>
          <td><%= item.quantity %></td>
          <td><%= print_price item.product.price %></td>
          <td><%= print_price item.subtotal %></td>
        </tr>
      <% end %>
      <tr>
        <th colspan="4">Order Total</th>
        <td><%= print_price @order.total %></td>
        <td></td>
      </tr>
    </table>
  </div>

  

  <br />

  <h2>Shipping Address</h2>

  <div>
    <% if current_user.addresses.count > 0 %>
      Please select an address:
      <br />
      <%= f.select :address_id, current_user.addresses.collect { |a| [a.to_s, a.id] } %>
      <br />
    <% end %>
    <br />
    <%= link_to 'Add new address', new_address_path %>
  </div>

  <br />
 
  <% if current_user.addresses.count > 0 %>
    <div>
      <%= f.submit "Proceed" %>
    </div>
  <% end %>
<% end %>
