<p id="notice"><%= notice %></p>

<h2>Order Confirmation</h2>

<div>Order Number: <%= @order.id %></div>
<div>Order Status: <%= @order.status %></div>

<br />

<h3>Order Details</h3>
<table>
  <tr>
    <th></th>
    <th>Item</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Subtotal</th>
  </tr>
  <% @order.order_items.each do |item| %>
    <tr>
      <td><%= image_tag "products/#{item.product.image_url}" %></td>
      <td><%= item.product.title %></td>
      <td><%= item.quantity %></td>
      <td><%= print_price item.product.price %></td>
      <td><%= print_price item.subtotal %></td>
    </tr>
  <% end %>
  <tr>
    <th>Order Total</th>
    <td colspan="3"></td>
    <td><%= print_price @order.total %></td>
  </tr>
</table>

<br />

<h3>Shipping Address</h3>
<div><%= @order.address.to_s %></div>


