<p id="notice"><%= notice %></p>

<h1>Your Order</h1>

<%= form_for @order do |f| %>
<table>
  <tr>
    <th>Customer:</th>
    <td colspan="6"><%= @order.user.name if @order.user %></td>
  </tr>
  <tr>
    <th>Status:</th>
    <td colspan="6"><%= @order.status %></td>
  </tr>
  <tr>
    <th>Items:</th>
    <td colspan="6"><%= @order.order_items.count %></td>
  </tr>
  <tr>
    <th>Items</th>
    <th>Title</th>
    <th>Quantity</th>
    <th>Stock</th>
    <th>Unit Price</th>
    <th>Subtotal</th>
    <th></th>
  </tr>
  <% @order.order_items.each do |item| %>
    <tr>
      <td><%= image_tag "products/#{item.product.image_url}" %></td>
      <td><%= item.product.title %></td>
      <td><%= link_to item.quantity, edit_order_item_path(item) %></td>
      <td><%= print_stock(item.product.stock, item.quantity) %></td>
      <td><%= print_price item.product.price %></td>
      <td><%= print_price item.subtotal %></td>
      <td><%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  <tr>
    <th colspan="5">Order Total</th>
    <td><%= print_price @order.total %></td>
    <td></td>
  </tr>
  <tr>
    <td colspan="7"><%= link_to "Empty Cart", @order, data: { confirm: 'Are you sure?' }, method: :delete %> <td>
  </tr>

  <% if current_user %>
  <tr>
    <th>Shipping To:</th>
    <td colspan="5">
      <% if current_user.addresses.count > 0 %>
        <%= f.select :address_id, current_user.addresses.collect { |a| [a.to_s, a.id] } %>
        <br />
      <% end %>
      <%= link_to 'Add an address', new_address_path %>
    </td>
  </tr>
  <tr>
    <td colspan="7"><%= f.submit "Submit Order" %></td>
  </tr>
  <% end %>

</table>
<% end %>